.main {
    display: grid;
    min-height: calc(100vh - 380px);
    justify-content: center;
    align-items: center;
}

.main__title {
    text-align: center;
    font-weight: 200;
    font-size: 48px;
}

@media only screen and (max-width: 420px) {

    .main {
        margin-left: 6em;
        padding-bottom: 8em;
    }
    
    .main__title {
        text-align: center;
        font-weight: 200;
        font-size: 48px;
    }
  
  }
  