.profile {
    padding: 0px 100px 0px 100px;
    text-align: center;
}

.profile__title {
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.profile__welcome-text {
    font-weight: 400;
}

.profile__text {
    font-size: 14px;
    font-style: oblique;
}

.profile__avatar {
    display: inline-block;
    width: 33%;
    height: auto;
    padding-bottom: 1em;
}

.profile__avatar img {
    width: 8em;
    height: auto;
    clip-path: circle(50%);
    object-fit: cover;
}

.profile__btn {
    border: solid 0px #000000;
    border-radius: 10px;
    color: #000000 ;
    font-weight: 400;
    background-color: #fff700;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
}

.profile__btn:hover {
    text-shadow: 0.3px 0 0 #000000;
    cursor: pointer;
    padding: 9px 16px 9px 16px;
}

@media only screen and (max-width: 420px) {

    .profile {
        padding: 0px 0px 8em 0px;
        text-align: center;
        margin-left: 4em;
    }

    .profile__btn {
        border: solid 0px #000000;
        border-radius: 10px;
        color: #000000 ;
        font-weight: 400;
        background-color: #fff700;
        padding: 6px 6px 6px 6px;
        text-decoration: none;

    }
    
    .profile__avatar img {
        width: 6em;
    }

  }