html {
    /* background-color:  #edea22; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  #414141;;
}

.header {
    height: auto;
    width: auto;
}

.header__columns {
    background-color:  #edea22;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding:20px 0px 20px 0px;
    border-radius: 20px;
    border: solid 0px #edea22;
}

.header__column-one {
    justify-self: start;
    align-self: center;
    padding-left: 100px;
}

.header__column-one-logo {
    width: 50px;
    height: auto;
    padding-left: 10px;
    opacity: 0.8;
}

.header__column-one-text {
    margin-top: 2px;
    font-weight: 600;
    font-size: 16px;
    margin: 0px;
}


.header__column-three-menu {
    justify-self: end;
    font-size: 16px;
    cursor: pointer;
    padding-right: 100px;
    padding-top: 25px;
}

.header__column-three-link,
.header__column-three-link:active,
.header__column-three-link a {
    text-decoration: none;
    padding-left: 15px;
    color: #414141;
}

.header__column-three-link:hover,
.header__column-three-link a:hover {
    text-shadow: 0.3px 0 0 #414141;
}

.header__column-three-signin,
.header__column-three-signout {
    width: 30px;
    height: auto;
}

.header__column-three-signin:hover, 
.header__column-three-signout:hover {
    scale: 1.1;
}

.header__bottom {
    width: auto;
    height: auto;
    background-color: #ffffff;
    padding: 0px 70px 0px 70px;
}

header h1 {
    font-weight: 400;
}

.profile {
    padding: 0px 70px 0px 70px;
}

.profile__title {
    font-weight: 400;
}

.footer__columns {
    background-color:  #edea22;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    border: solid 0px #edea22;
    font-size: 14px;
    margin-top: 300px;    /*удалить позже*/
}

.footer__columns a:active,
.footer__columns a {
    text-decoration: none;
    color: #414141;
}

.footer__columns a:hover {
    text-shadow: 0.3px 0 0 #414141;
}

.footer__column-one {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 100px;
}

.footer__column-one-logo {
    width: auto;
    height: 30px;
    opacity: 0.8;
}

.footer__column-two {
    justify-self: center;
    justify-content: space-between;
}

.footer__columns ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer__column-three {
    justify-self: center;
}

.footer__column-four {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    justify-self: end;
    padding-right: 100px;
}

.footer__column-four-title {
    font-size: 18px;
    font-weight: 600;
}

.footer__column-four-phone {
    font-size: 16px;
    font-weight: 600;
}

.footer__column-four-telegram {
    width: 15px;
    height: auto;
}

.footer__column-four-telegram:hover {
    scale: 1.05;
}