html {
    /* background-color:  #fff700; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  #414141;;
}

.header {
    height: auto;
    width: auto;
}

.header__columns {
    background-color: #fff700;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    justify-content: center;
    padding:20px 0px 20px 0px;
    border-radius: 20px;
    border: solid 0px #fff700;
}

.header__column-one {
    justify-self: start;
    align-self: center;
    padding-left: 100px;
}

.header__column-one-logo {
    width: 50px;
    height: auto;
    padding-left: 10px;
    opacity: 0.8;
}

.header__column-one-text {
    margin-top: 2px;
    font-weight: 600;
    font-size: 16px;
    margin: 0px;
}

.header__column-two {
    justify-self: center;
    align-self: flex-end;
    /* padding-right: 5px; */
}

.header__column-two-catalog-btn {
    width: 100%;
    height: calc(2.25rem + 2px);
    border-radius: 10px;
    color: #ffffff;
    font-weight: 400;
    background-color: #414141;
    padding: 8px 15px 8px 15px;
    border: 2px solid #414141;
}

.header__column-two-catalog-btn:hover {
    color: #ffffff;
    text-shadow: 0.5px 0 0 #ffffff;
    cursor: pointer;
}

.header__column-three {
    justify-self: start;
    align-self: flex-end;
}

.header__column-three-search {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.header__column-three-search-input {
    display: block;
    min-width: 300px;
    height: calc(2.25rem + 2px);
    color: #414141;
    background-color: #ffffff;
    border: 2px solid #414141;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    /* border-radius: 10px; */ 
}

.header__column-three-search-input:hover {
    border: 2px solid #414141;
}

.header__column-three-search-btn {
    display: block;
    color: #ffffff;
    background-color: #414141;
    border: 2px solid #414141;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -2px;
}

.header__column-three-search-btn:hover {
    cursor: pointer;
    color: #fff700;
    text-shadow: 0.3px 0 0 #fff700;
}

.header__column-four-menu {
    justify-self: end;
    align-self: flex-end;
    font-size: 16px;
    cursor: pointer;
    padding-right: 100px;
    padding-top: 25px;
}

.header__column-four-link,
.header__column-four-link:active,
.header__column-four-link a {
    text-decoration: none;
    padding-left: 15px;
    color: #414141;
}

.header__column-four-link:hover,
.header__column-four-link a:hover {
    text-shadow: 0.3px 0 0 #414141;
}

.header__column-four-signin,
.header__column-four-signout {
    width: 30px;
    height: auto;
}

.header__column-four-signin:hover, 
.header__column-four-signout:hover {
    scale: 1.1;
}

.header__bottom {
    width: auto;
    height: auto;
    background-color: #ffffff;
    padding: 0px 100px 0px 100px;
}

header h1 {
    font-weight: 400;
}

.profile {
    padding: 0px 100px 0px 100px;
}

.profile__title {
    font-weight: 400;
}

.profile__btn {
    border: solid 0px #414141;
    border-radius: 10px;
    color: #414141 ;
    font-weight: 400;
    background-color: #fff700;
    padding: 8px 15px 8px 15px;
}

.profile__btn:hover {
    text-shadow: 0.3px 0 0 #414141;
    cursor: pointer;
}

.footer__columns {
    background-color:  #fff700;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    border: solid 0px #fff700;
    font-size: 14px;
    margin-top: 300px;    /*удалить позже*/
}

.footer__columns a:active,
.footer__columns a {
    text-decoration: none;
    color: #414141;
}

.footer__columns a:hover {
    text-shadow: 0.3px 0 0 #414141;
}

.footer__column-one {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 100px;
}

.footer__column-one-logo {
    width: auto;
    height: 30px;
    opacity: 0.8;
}

.footer__column-two {
    justify-self: center;
    justify-content: space-between;
}

.footer__columns ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer__column-three {
    justify-self: center;
}

.footer__column-four {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    justify-self: end;
    padding-right: 100px;
}

.footer__column-four-title {
    font-size: 18px;
    font-weight: 600;
}

.footer__column-four-phone {
    font-size: 16px;
    font-weight: 600;
}

.footer__column-four-telegram {
    width: 15px;
    height: auto;
}

.footer__column-four-telegram:hover {
    scale: 1.05;
}