html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:  #000000;
}

.header {
    height: auto;
    width: auto;
}

.header__columns {
    background-color: #fff700;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    justify-content: center;
    padding:20px 0px 20px 0px;
    border-radius: 20px;
    border: solid 0px #fff700;
}

.header__column-one {
    justify-self: start;
    align-self: center;
    padding-left: 100px;
    display: grid;
    grid-template-columns: 1fr;
}

.header__column-one-logo {
    width: 50px;
    height: auto;
    padding-left: 18px;
}

.header__column-one-text {
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

.header__column-two {
    justify-self: center;
    align-self: flex-end;
}

.header__column-two-catalog-btn {
    width: 100%;
    height: calc(2.25rem + 2px);
    border-radius: 10px;
    color: #000000;
    font-weight: 400;
    background-color: #ffffff;
    padding: 8px 15px 8px 15px;
    margin-left: 15px;
    border: 2px solid #000000;
}

.header__column-two-catalog-btn:hover {
    color: #000000;
    text-shadow: 0.5px 0 0 #000000;
    cursor: pointer;
    border: 2.5px solid #000000;
}

.header__column-three {
    justify-self: start;
    align-self: flex-end;
}

.header__column-four-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    font-size: 16px;
    cursor: pointer;
    padding-right: 100px;
    padding-top: 25px;
}

.header__column-four-menu-link,
.header__column-four-menu-link:active {
    color: #000000;
    padding-left: 15px;
    text-decoration: none;
}

.header__column-four-menu-link:hover{
    text-shadow: 0.3px 0 0 #000000;
}

.header__column-four-menu-img {
    width: 40px;
    height: auto;
}

.header__column-four-menu-img:hover {
    scale: 1.05;
}

header h1 {
    font-weight: 400;
}

.header__text {
    color: #11606a;
    padding: 0px 100px 0px 100px;
    text-align: center;
}

.main {
    min-height: calc(100vh - 395px);
}

.main__text {
    text-align: center;
}

.profile {
    padding: 0px 100px 0px 100px;
}

.profile__title {
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: center;
}

.profile__welcome-text {
    font-weight: 400;
}

.profile__text {
    font-size: 14px;
    font-style: oblique;
}

.profile__avatar {
    display: inline-block;
    width: 33%;
    padding-top: 2em;
    padding-bottom: 10em;
    height: 0;
    position: relative;
}

.profile__avatar img {
  width: 8em;
  height: auto;
  position: absolute;
  clip-path: circle(50%);
  object-fit: cover;
}

.profile__btn {
    border: solid 0px #000000;
    border-radius: 10px;
    color: #000000 ;
    font-weight: 400;
    background-color: #fff700;
    padding: 8px 15px 8px 15px;
}

.profile__btn:hover {
    text-shadow: 0.3px 0 0 #000000;
    cursor: pointer;
}

.footer__columns {
    background-color:  #fff700;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 10px 100px 10px 100px;
    border-radius: 20px;
    border: solid 0px #fff700;
    font-size: 14px;
    margin-top: 8em; 
}

@media only screen and (orientation: portrait) and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3){
	.footer__columns {
        background-color:  #fff700;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 2fr));
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        /* align-items: center; */
        /* justify-items: center; */
        /* text-align: center; */
        padding: 10px 100px 70px 100px;
        border-radius: 20px;
        border: solid 0px #fff700;
        font-size: 14px;
        /* margin-top: 8em;  */
    }
}

.footer__columns a:active,
.footer__columns a {
    text-decoration: none;
    color: #000000;
}

.footer__columns a:hover {
    text-shadow: 0.3px 0 0 #000000;
}

.footer__column-one {
    display: grid;
    grid-template-columns: 1fr;
}

.footer__column-one-logo {
    width: auto;
    height: 30px;
}

.footer__column-two {
    /* justify-self: center; */
    /* justify-content: space-between; */
}

.footer__columns ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer__column-three {
    /* justify-self: center; */
}

.footer__column-four {
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-row-gap: 10px;
    /* justify-self: end; */
}

.footer__column-four-title {
    font-size: 18px;
    font-weight: 600;
}

.footer__column-four-phone {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.footer__column-four-telegram,
.footer__column-four-mail{
    width: 15px;
    height: auto;
    cursor: pointer;
}

.footer__column-four-telegram:hover {
    scale: 1.05;
}

.footer__column-four-mail:hover {
    text-shadow: 0.3px 0 0 #000000;
}

.signin,
.signup {
    display: grid;
    gap: 0.5em;
    justify-content: center;
    min-height: calc(100vh - 400px);
}

.signin {
    min-height: calc(100vh - 380px);
}

.signup {
    min-height: calc(100vh - 400px);
}

.signin__input,
.signup__input {
    height: 2.5em;
    width: auto;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #b3b3b3 ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.signin__btn,
.signup__btn {
    width: auto;
    height: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    border: none;
    border-radius: 15px;
    background-color: #fff700;
    cursor: pointer;
}

.signin__btn:hover,
.signup__btn:hover  {
    text-shadow: 0.5px 0 0 #565656;
}

.signup__title,
.signin__title {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 25px;
    text-align: center;
}

.signin__link-to-signup,
.signup__link-to-signin {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    color: #000000;
    display: inline;
    border-bottom: 1px solid #000000;
}

.signin__link-to-signup:hover,
.signup__link-to-signin:hover {
    text-shadow: 0.5px 0 0 #565656;
    color: #000000;
    border-bottom: 2px solid #000000;
}

.signin__link,
.signup__link {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.signin__error,
.signup__error {
    color: #940a0a;
    font-weight: 200;
    font-size: 10px;
    text-align: end;
    padding: 0px;
    margin: 0px;
}

.catalog__title {
    display: grid;
    text-align: center;
    font-weight: 400;
    padding: 10px 0px 10px 0px;
}

.catalog__title h2 {
    display: grid;
    text-align: center;
    font-weight: 400;
    padding: 10px 0px 10px 0px;
}

.catalog__products {
    padding: 0px 100px 0px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 2em;
    justify-content: center;
}

.catalog__no-auth,
.catalog__no-auth-text {
    text-align: center;
    padding-bottom: 5em;
}

.catalog__btn {
    text-decoration: none;
    border: solid 0px #000000;
    border-radius: 10px;
    color: #000000 ;
    font-weight: 400;
    background-color: #fff700;
    padding: 8px 15px 8px 15px;
}

.catalog__btn:hover {
    text-shadow: 0.3px 0 0 #000000;
    cursor: pointer;
}

.catalog__search {
    /* padding-bottom: 2em; */
    justify-self: center;
}

.catalog__search-input {
    width: 20rem;
    height: 2rem;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
}

.catalog__search-input:hover {
    border: 2px solid #000000;
}

.catalog__pagination {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 1em;

}

.product {
    width: auto;
    height: 100%;
    display: grid;
    box-shadow: 0px 0px 6px #22222275;
    border-radius: 15px;
    padding: 2em;
    box-sizing: border-box;
    justify-items: center;
    align-items: flex-start;
    text-align: center;
    text-decoration: none;
}

.product:hover {
    scale: 1.01;
    box-shadow: 0px 0px 10px #222222b7;
    transition-duration: 300ms;
    cursor: pointer;
}

.product__img {
    width: auto;
    height: 5em;
    border-radius: 15%;
    align-self: flex-start;
}

.product__name {
    text-decoration: none;
    font-size: 14px;
    align-self: flex-start;
}

.product__wight {
    text-decoration: none;
    font-size: 12px;
    align-self: flex-start;
    margin: -5px;
    color: #b16910;
}

.product__price {
    text-decoration: none;
    color: #066f5f;
    font-weight: 400;
    font-size: 16px;
    align-self: flex-end;
}

.product__btn {
    border: solid 0px #000000;
    border-radius: 10px;
    font-weight: 400;
    background-color: #fff700;
    padding: 8px 15px 8px 15px;
    align-self: flex-end;
}

.product__btn:hover {
    text-shadow: 0.3px 0 0 #000000;
    cursor: pointer;
}